@import url('https://fonts.googleapis.com/css?family=Advent+Pro:300');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
:root {
    /** Colors */
    --c-zalmroze: hsla(14, 58%, 62%, 1);
    --c-zalmroze-lichter: hsla(14, 58%, 62%, .75);
    --c-zalmroze-lichtst: hsla(14, 58%, 62%, .50);
    --c-blauw-licht: rgb(62,82,163);
    --c-blauw-donker: rgb(59,74,138);

    --c-primary: var(--c-zalmroze);
    --c-secondary: var(--c-blauw-donker);
    --c-tertiary: var(--c-zalmroze-lichter);
    --c-quaternary: var(--c-zalmroze-lichtst);
    --c-quinary: var(--c-);

    /**Fonts */
    --font-heading: Lato;
    --font-body: 'Montserrat', sans-serif;
}